[submodule "puff/themes/code-editor"]
	path = puff/themes/code-editor
	url = https://github.com/aubm/hugo-code-editor-theme.git
[submodule "puff/public"]
	path = puff/public
	url = git@github.com:jackypaper/jackypaper.github.io.git
	branch = master
